@keyframes brillo {
    0% {
        filter: brightness(1);
    }
    50% {
        filter: brightness(2);
    }
    100% {
        filter: brightness(1);
    }
}
body {
    font-family: sans-serif;
}
#videoContainer {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: -10;
    align-items: center;
    justify-content: center;
    transition: all 1s;
    display: none;
}
#emision {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    transform-origin: center center;
}
#pantallaInfo {
    position: fixed;
    background: #ffffff;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.8) 22%,
        rgba(255, 255, 255, 0) 100%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 300;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding-bottom: 10px;
}

#pantallaInfo::before {
    mask: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    backdrop-filter: blur(30px);
}

#idNum {
    font-size: 4em;
    margin: 10px;
    margin-top: 20px;
    font-family: monospace;
}
