@font-face {
    font-family: Outfit;
    src: url("/fonts/Outfit/Outfit-VariableFont_wght.ttf");
}
@keyframes brillo {
    0% {
        filter: brightness(1);
    }
    50% {
        filter: brightness(2);
    }
    100% {
        filter: brightness(1);
    }
}
body {
    font-family:
        Outfit,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}
#videoContainer {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: -10;
    align-items: center;
    justify-content: center;
    background-image: cover;
    background-position: center;
    display: none;
}
#emision {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    transform-origin: center center;
    opacity: 0;
}
#pantallaInfo {
    position: fixed;
    background: #ffffff;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.8) 22%,
        rgba(255, 255, 255, 0) 100%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 300;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding-bottom: 10px;
}

#pantallaInfo::before {
    mask: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    backdrop-filter: blur(30px);
}

#idNum {
    font-size: 4em;
    margin: 10px;
    margin-top: 20px;
    font-family: monospace;
}

body {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: background-image 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.connTarjeta {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    max-width: 300px;
    height: 500px;
    backdrop-filter: blur(8px);
    border-radius: 21px;
    overflow-y: scroll;
    transition: 1s all;
}

form {
    transition: all 0.5s;
    display: flex;
    gap: 5px;
    flex-direction: column;
}

button {
    border: 2px solid black;
    border-radius: 8px;
    background-color: black;
    padding: 5px 10px;
    color: lightsalmon;
    transition: all 0.3s;

    font-weight: bolder;
}
#idHold {
    border: 2px solid darkgray;
    border-radius: 8px;
    background-color: white;
    transition: all 0.3s;
    font-size: 18px;
    padding: 10px 10px;
    text-align: center;
}
#idHold:focus {
    border: 2px solid lightsalmon;
    outline: none;
    transition: all 0.3s;
}

#annWindow {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.05);
    background-image: url("/bg.png");
    background-size: 80px;
    background-repeat: repeat;
    border-radius: 21px;
    margin-top: 20px;
    padding: 10px;
    opacity: 1;
    transition: all 1s;
}
.xcirular {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: 1px darkgray solid;
    background-color: rgba(0, 0, 0, 0.01);
    backdrop-filter: blur(3px);
}
#cercade {
    transition: 0.3s all;

    overflow: hidden;
}
